---
pagination:
  data: photos.0apgfsq.media
  size: 1
permalink: 'photos/{{ pagination.items[0].id }}/index.html'
---
<body style= "background-color: {{ pagination.items[0].avg_color }};">
  <h1> Photographer - {{pagination.items[0].photographer}} </h1>
  <h2> Description - {{pagination.items[0].alt}} </h2>
  <img src="{{ pagination.items[0].src.medium }} ">
</body>
