---
pagination:
  data: photos.0apgfsq.media
  size: 1
permalink: 'photos/{{ pagination.items[0].id }}/index.html'
layout: base
eleventyComputed:
  background_color: "{{ pagination.items[0].avg_color }}"
  title: "{{ pagination.items[0].alt }}"
  photographer: "{{ pagination.items[0].photographer }}"
  photographer_url: "{{ pagination.items[0].photographer_url }}"
  photographer_id: "{{ pagination.items[0].photographer_id }}"
---
<figure>
  <img src="{{ pagination.items[0].src.large }}" title="{{ title }}" alt="{{ title }}">
    <figcaption>
      <b><i>Shot by - <a target="_blank" href="{{ photographer_url }}"> {{ photographer }} ({{ photographer_id }})</a></i></b>
    </figcaption>
</figure>

